.built2-container{
    position: absolute;
    top: 4185px;
    left: 160px;
    border-radius: 8px;
}
.content-b2{
    width: 360px;
    height: 517.02px;
}
.b2-container{
    width: 295px;
    display: flex;
    align-items: center;
    gap: 14px;
    padding-right: 89px;
    padding-bottom: 1px;  
}
.built2-container h1{
    width: 578px;
    height: 56px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: left;
    
}
.built2-container p{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #05003899;
}
.logo-con{
    /* border: 1px solid #050038; */
    width: 304px;
    height: 82.39px;
    position: absolute;
    top: 309px;
    left: 16px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 13.61px;
}
.no-margin{
    margin: 0;
}