.built1-container h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: left;
    color: #050038;
}
.link-container{
    display: flex;
    justify-content: space-between;
}
.link-container a{
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #F2F2F2;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #050038;
}
.firstlink{
    background-color: #F1F3FD;
}
.link-container a:hover{
    background-color: #F1F3FD;
}
.content-of-bulit1{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.content-b1 h3{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #050038;
}
.content-b1 p{
    width: 302.43px;
    height: 118px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #050038B2 ;
}
.content-b1 span{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #4262FF;
}
.dropdown-button{
    display: none;
}