.section2{
    margin-top: 10%;
    border: 1px solid red;
}
.section2 h2{
    height: 168px;
    margin: 0;
}
.section2 h2 p{
    width: 448px;
    margin: auto;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
}
.idea_logo{
    width: fit-content;
    position: relative;
    top: -200%;
    left: 47%;
}
.flex_container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.details {
    width: 33%;
    padding: 1%;
}
.details h3{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
    color: #050038;
}
.details p{
    width: 78%;
    height: 144px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #05003899;
}
.details p span{
    color: #4262FF;
}
