footer {
    width: 1518px;
    height: 686px;
    position: relative;
    top: 7493.92px;
    background: #050038;
}

.footer-content {
    width: 1440px;
    height: 605px;
    /* border: 1px solid white; */
    margin: auto;
    gap: 100px;
}

.footer-container {
    width: 1400px;
    height: 407px;
    padding-right: 40px;
    padding-left: 0px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
}

.footer-container .footer-section {
    width: 272px;
    height: 383px;
    padding: 0px 10px 20px 10px;
    gap: 24px;
    /* border: 1px solid pink; */
    position: relative; /* Added to position the content inside*/
}

.footer-container h1 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.footer-section .footer-section-content {
    width: 252px;
    height: 315px;
    position: relative;
    top: 15px; /* Adjusted to position it below the header */
}

.footer-section-content .text-content {
    padding: 0px 69px 1px 0px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    /* border: 1px solid yellow; */
}
ul {
    list-style-type: none;
}
.text-content li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.btn-cont{
    height:24px;
    display: flex;
    gap: 5px;
    align-items: center;
    position: absolute;
    top: 345px;
}
.btn-cont a{
    color: #FFFFFF;
}
.arrow{
    color: #FFFFFF;
}
.salebtn{
    top: 245px;
}