footer {
    width: 100%;
    background: #050038;
}
.footer-container {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.footer-container .footer-section {
    display: flex;
    flex-direction: column;
}

.footer-container h1 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.footer-section .footer-section-content {
    margin-top: 10%;
}

.footer-section-content .text-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
ul {
    list-style-type: none;
}
.text-content li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.btn-cont{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 15%;
}
.btn-cont a{
    color: #FFFFFF;
}
.arrow{
    color: #FFFFFF;
}
.footer-portion2{
    border-top: 1px solid #9B99AF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.portion2-container{
    padding: 26px 0;
}

.portion2-container ul{
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    
}
.portion2-container ul li {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.footer-svgs{
    height: 47px;
    display: flex;
    gap: 12px;
}
@media (max-width:1168px){
    .footer-container{
        flex-direction: column;
    }
    .footer-container .footer-section{
        align-items: center;
        justify-content: center;
    }
    .footer-section .footer-section-content{
        margin-top: 1%;
    }
    .footer-container h1{
        font-size: 26px;
        margin-top: 40px;
    }
    .footer-section-content .text-content{
        text-align: center;
    }
    .text-content li a{
        line-height: 20px;
    }
    .footer-portion2{
        flex-direction: column;
    }
    .portion2-container ul{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-svgs{
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    /* flex-wrap: nowrap; */
}
.footer-svgs svg {
    width: 100%;
}
}