.section9{
    border: 1px solid sandybrown;
    margin-top: 5%;
}
.section9 h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    color: #050038;
}
.section9 a{
    width: 20%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 35px;
    border-radius: 37px;
    border: 1px solid #4262FF;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #4262FF;
    background-color: white;
    text-decoration: none;
    margin: auto;
}
.section9 a:hover {
    background-color: #4262FF;
    color: white;
}
.information-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.svg-div {
    margin: 10% 0 0 5%;
}
.information-container .profile-container{
    width: 31%;
    height: 460px;
    box-shadow: 0px 4px 12px 0px #05003814;
    border-radius: 8px;
}
.profile-container p{
    width: 88%;
    height: 192px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #05003899;
}
div.about-profile{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about-content p {
    width: 100%;
    height: auto;
}
.svg-div svg {
    width: 100%;
    height: auto;
}