/* Tablet View - width between 600px and 1153px for header navbar*/
@media (min-width: 611px) and (max-width: 1153px) {
    #_next {
        width: 100%;
        height: auto;
    }
    
    .header_container {
        flex-direction: column;
        height: inherit;
    }
    
    .miro_logo {
       width: 100%;
       padding: 0;
     text-align: center;  
    }
    
    /* Adjust menu layout */
    .menu {
        margin: auto;
        width: 100%;
        justify-content: space-between;
    }
    .detail_section{
        width: fit-content;
    }
    /* Header contact info section */
    .header_contact_info {
        width: fit-content;
    }
    
    /* Adjust UL inside header_contact_info */
    .header_contact_info ul {
        gap: 5px;
        margin: 0;
    }

    /* Detail section */
    .detail_section {
        width: fit-content;
    }

    .detail_section ul {
        gap: 10px;
    }
    .same {
        display: flex;
        gap: 2px;
        align-items: center;
        
    }
    .detail_section ul li a{
        font-size: 12px;
    }
    
    /* Adjust buttons and text sizes */
    .signup {
        padding:5px;
        font-size: 12px;
    }

    .Login,
    .Contact_sales,
    li.lang_en {
        font-size: 10px;
    }

    /* Adjust spacing in language and other icons */
    .language_svg {
        gap: 2px;
    }
    svg.internet{
        width: 15px;
        height: 15px;
    }
}
/* main section  tablet vie*/
@media  (min-width: 611px) and (max-width: 768px) {
    main {
        padding: 30px;
    }
    .initial_form_container {
        width: 100%;
        display: block;
        border: 1px solid red;
    }
    
    .form_desc h1{
        width: fit-content;
    }
    .initial_para{
        width: 70%;
        padding-left: 10px;
        text-align: justify;
    }
    .signup_form {
        width: 100%;
        flex-direction: row;
        gap: 5%;
        padding: 0;
    }
    input[type=email]{
        width: 35%;
        /* margin-left: 10%; */
        padding: 10px 20px;
    }
    .set_signup_btn{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
    }
    .initial_form_para{
        width: fit-content;
        /* margin: 0; */

    }
    div.rating{
        width: fit-content;
        padding: 10px;
        margin-top: 0;
    }
    .rating .logos{
        width: 45%;
    }
    .stars_container{
        width: 55%;
    }
    .main_image {
        margin-top: 5%;
    }
    /* collaborate without constraints section */
    .section2 h2 {
        margin: 0;
        width: 100%;
    }
    .section2 h2 p {
        margin-top: 0;
    }
    .flex_container{
        flex-wrap: wrap;
            gap: 15%;
    justify-content: center;
    }
    .details h3 {
        font-size: 22px;
    }
    .details p {
        width: fit-content;
        height:fit-content;
        text-align: justify;
        }
        /* work together section */
    section.section3 {
        flex-direction: column;
    }
    .section3_details {
        width: fit-content;
    }
    .section3_details p {
        width: 80%;
        margin: 0 10%;
        text-align: justify;
        }
        /* connect your tools section */
        .section4{
            flex-direction: column ;
            align-items: self-start;
        }
        .section4_details {
            width: fit-content;
        }
        .section4_details h2 {
            width: 100%;
            line-height: 48px;
        }
        .section4_details p {
            width: 90%;
            padding: 2.5%;
        }
        /* built for the way you work */
        .link-container {
            flex-direction: column;
        }
        .content-b1 h3{
            text-align: center;
        }
        .content-b1 p {
            height:fit-content;
            margin: 0;
            }
        .built2{
            flex-direction: column;
        }
        .b2-container {
            width: fit-content;
        }
        .logo-con {
            margin-top: 8%;
        }
        /* why companies large and small trust miro section */
        .trust-container {
            width: calc(100% + 60px);
            margin: 0 -30px;
        }
        .next-div-container {
            padding: 60px 0px;
        }
        .yellow-header h1 {
            width: fit-content;
}
.grid-content-container {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 15px;
}
.section9 a {
    width: 40%;
    height: auto;
}
.information-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
.information-container .profile-container {
    width: fit-content;
    box-shadow: 0px 4px 12px 0px #05003814;
    border-radius: 8px;
}
.profile-container p {
    height: fit-content;

}
div.about-profile {
    margin-top: 3%;
    display: inline-block;
}
}