.signup2{
    border: 1px solid yellow;
    margin-top: 5% ;
}
.after_coll_btn_signup{
    width: 178.22px;
    height: 48px;
    border-radius: 37px;
    margin: auto;
    /* to center text in the button horizontally and vertically in the btn */
    display: flex;
    justify-content: center;
    align-items: center;
}
       