.trust-container{
    width: 1440px;
    height: 1042.02px;
    position: absolute;
    top: 4984.02px;
    padding: 60px 0;

}
.trust-content{
    width: 1219px;
    height: 922.91px;
    padding: 0 150px;
    background-color: #FFD02F;
}
.next-div-container{
    border: 1px solid black;
    width: 1140px;
    height: 680.91px;
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.yellow-header{
    width: 539px;
    height: 152px;
    padding: 0px 300px;
    border: 1px solid firebrick;
}
.yellow-header h1{
    width: 498px;
    height: 112px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    margin: 0;

 }
 .yellow-header a{
    width: 284.77px;
    height: 19px;
    position: absolute;
    top: 298px;
    left: 552.61px;
    border-bottom: 1px solid #050038;
    text-align: center;
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #050038;
}
