/* container for full landing page */
#_next{
    width: 1440px;
    height: 8179.92px;
}
/* ================HEADER================= */
/* div containing the header data */
.header_container{
    width: inherit;
    height: 91px;
    border-bottom: 1px solid #F0F0F0;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* header  */
header.header_section{
    /* width is set to full size to the div containg class header_container */
    width: 100%;    
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* right side menu in the header */
ul.header_contact_info{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px; /* Space between elements */
    /* padding: 0; i will adjust it after completing the header depend on it  */
}

/* the div containing the svg of world and the en text */
.language_svg{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* text in the div with class language_svg */
li.lang_en{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #050038;
    text-transform: uppercase;
}

/* style of anchor tag in li with class Signup_btn */
 .signup {
    border: 1px solid #4262FF;
    border-radius: 24px;
    background: #4262FF;
    padding: 12px 22px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

/* Login and Contact sales buttons */
.header_contact_info .Login,
.header_contact_info .Contact_sales {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #050038;
    cursor: pointer;
}
/* style for the menu contained in the second unordered list */
ul.detail_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px; 
    margin: 0 auto; /* Center the list */
}
/* style for the list items  */
.detail_section li {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Space between each item */
}
/* setting up the font size, style and color of anchor tag in the list */
.detail_section li a {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #050038;
    text-decoration: none;
    margin-right: 5px; /* Space between text and SVG */
}
/* add spaces between anchar tag and the svg's in the first, second and third item of list */
li.same svg {
    margin-left: 5px; /* Space between text and dropdown */
}

li.Enterprise, li.Pricing {
    margin-right: 0; /* Remove extra margin for last items */
} 
 /* adjust the logo in the header   */
.miro_logo{
    position: absolute;
    top: 32px;
    left: 125px;
}
/* ================HEADER COMPLETED HERE ================= */


/* ================MAIN================= */
main{
    width: 1440px;
    height: 7402.92px;
    position: absolute;
    top: 91px;
   /* border: 1px solid black;  */
}

/* main div {
    border: 1px solid red;
} */
.initial_form_container{
    width: 1163px;
    height: 469px;
    position: relative;
    top: 60px;
    left: 120px;
    padding: 0px  40px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form_desc{
    width: 440px;
    height: 469px;
}
.main_image{
    width: 640px;
    height: 462.84px;
}
.form_desc h1{
    width: 376.65px;
    height: 112px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    color: #050038;
}
.initial_para{
    width: 428.09px;
    height: 48px;
    position: absolute;
    top: 130px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #050038B8;
}
.signup_form{
    width: 440px;
    height: 109px;
    position: absolute;
    top: 208px;
    display: grid;
}
input[type=email]{
    width: 371px;
    height: 22px;
    padding: 11.5px 41px 14.5px 25px;
    border-radius: 25px;
    border: 1px solid #9B99AF;
    
}
input[type="email"]::placeholder {
    width: 184px;
    line-height: 21.78px;
    color: #5F5C80;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  input[type="email"]:focus {
    outline: none;
  }


.set_signup_btn{
    width: 393px;
    position: absolute;
    top: 58px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
}
.initial_form_para{
    width: 260px;
    height: 20px;
    position: relative;
    top: 40px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:#05003866 ;
}
div.rating{
    /* border: 1px solid black; */
    width: 350px;
    height: 35px;
    position: absolute;
    top: 375px;
    border-radius: 8px;
    padding: 14px;
    background-color: #F5F5F7 ;
    display: flex;
    flex-wrap: nowrap;
}
.rating .stars_container{
    /* border: 1px solid black; */
    width: 136.64px;
    height: 32px;
    /* gap: 2px; */
}
.stars_container .stars{
    /* border: 1px solid black; */
    display: flex;
    gap: 6px;
    justify-content: left;
    padding-right: 32.64px;
}
p.para_under_stars{
    width: 124px;
    height: 15px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    color: #050038 ;
}
.rating .logos{
    /* border: 1px solid black; */
    width: 185.36px;
    height: 32px;
    padding: 0px 14.38px 0px 14.33px;
    display: flex;
    gap: 14.33px;
    background: #F5F5F7;
}